.login-wrap {
  height: 100vh;
  background-color: #cdedca;
  padding: 60px 0;
}
.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 310px;
  max-width: 450px;
  background-color: #f3f0f0;
  margin: auto;
  border-radius: 40px;
  box-shadow: 0px 0px 2px 0.1px #919191;
  gap: 12px;
}
h2 {
  font-size: 40px;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.email,
.password {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
button {
  border: none;
  padding: 12px 19px;
  background-color: #cdedca;
  border-radius: 50px;
  min-width: 300px;
  font-size: medium;
}
input {
  border: none;
  background: #f3f0f0;
  min-width: 300px;
  max-width: 440px;
  font-size: 19px;
}
.google {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
img {
  width: 40px;
}
.no-account {
  text-align: center;
}
fa-icon {
  font-size: 30px;
  color: #5cbb54;
}
.email-input,
.pass-input {
  display: flex;
  gap: 5px;
  border-bottom: 2px solid black;
}
.password {
  margin-bottom: 40px;
}
