<section class="login-wrap">
  <section class="login">
    <h2>Login</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="email">
        <label for="email"><b>Email</b></label>
        <div class="email-input">
          <fa-icon [icon]="icons.email"></fa-icon>
          <input
            formControlName="email"
            class="form-control"
            type="email"
            placeholder="Type your email"
          />
        </div>
      </div>
      <div class="password">
        <label for="password"><b>Password</b></label>
        <div class="pass-input">
          <fa-icon [icon]="icons.lock"></fa-icon>
          <input
            formControlName="password"
            class="form-control"
            type="password"
            placeholder="Type your password"
          />
        </div>
      </div>
      <button type="submit" class="btn btn-primary"><b>LOGIN</b></button>
      <div class="google">
        <p>Or sign up using</p>
        <img src="../../../assets/images/google.png" alt="" />
      </div>
      <div class="no-account">
        <p>Not having an account yet?</p>
        <p><b>Sign up</b></p>
      </div>
    </form>
  </section>
</section>
