.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 310px;
  max-width: 550px;
  background-color: #f3f0f0;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 9px 1px #919191;
  gap: 12px;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.email,
.password {
  display: flex;
  flex-direction: column;
}
button {
  border: none;
  padding: 12px 19px;
  background-color: #cdedca;
  border-radius: 50px;
  min-width: 300px;
  font-size: medium;
}
input {
  border: none;
  background: #f3f0f0;
  min-width: 300px;
  max-width: 540px;
}
.google {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
img {
  width: 40px;
}
.no-account {
  text-align: center;
}
