<section class="login">
  <h2>Login</h2>
  <form action="">
    <div class="email">
      <label for="email">Email</label>
      <input type="email" placeholder="Type your email" />
    </div>
    <div class="password">
      <label for="password">Password</label>
      <input type="password" placeholder="Type your password" />
    </div>
    <button>LOGIN</button>
    <div class="google">
      <p>Or sign up using</p>
      <img src="../../../assets/images/google.png" alt="" />
    </div>
    <div class="no-account">
      <p>Not having an account yet?</p>
      <p>Sign up</p>
    </div>
  </form>
</section>
