<header>
  <div class="left">
    <img src="../../../assets/images/logo.png" alt="" />
    <h2>Родознание</h2>
  </div>
  <nav>
    <ul>
      <li><a routerLink="/">Начало</a></li>
      <li>
        <a routerLink="/map"><fa-icon [icon]="icons.globe"></fa-icon></a>
      </li>
      <li id="login" *ngIf="!authService.isLoggedIn">
        <a routerLink="/login">Влизане</a>
      </li>
      <li id="register" *ngIf="!authService.isLoggedIn">
        <a routerLink="/register">Регистрация</a>
      </li>
      <li id="add-history">
        <a routerLink="/add-history" *ngIf="authService.isLoggedIn"
          >Добави история</a
        >
      </li>
    </ul>
  </nav>
</header>
