<article class="reg-wrap">
  <section class="register">
    <h2>Register here</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="inputs">
        <input
          formControlName="firstName"
          type="text"
          placeholder="First Name"
        />
        <input formControlName="lastName" type="text" placeholder="Last name" />
        <input formControlName="email" type="email" placeholder="Email" />
        <input
          formControlName="password"
          type="password"
          placeholder="Password"
        />
      </div>
      <div class="button">
        <button>Sign up!</button>
      </div>
    </form>
  </section>
</article>
