.reg-wrap {
  background-image: url(../../../assets/images/map-test.png);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.register {
  background-color: #cdedca;
  min-width: 320px;
  width: 600px;
  display: flex;
  flex-direction: column;
  padding: 17px 25px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 300px;
  max-width: 700px;
}
.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
input {
  min-width: 300px;
  width: 550px;
  border: none;
  padding: 7px 6px;
}
h2 {
  text-align: center;
}
.button {
  text-align: right;
}
button {
  @media screen and (min-width: 768px) {
    margin-right: 20px;
  }
}
