<article class="landing-page">
  <div class="title">
    <h1>Родознание</h1>
    <h3>Опознай рода си!</h3>
  </div>
  <p>
    Родознание.бг е кауза, която има за цел да накара българите да се
    интересуват повече от своето родословно дърво. Средностатистическият
    българин не познава родословното си дърво отвъд своите прадядовци и прабаби,
    а това води до рекордно нисък интерес в часовете по история в училище.
    Нашата цел е българите да познават добре своя род, защото "народ, който не
    знае миналото си, е обречен на изчезване".
  </p>
  <div class="blockquote-wrapper">
    <div class="blockquote">
      <h1>...Българино, знай своя род и език!</h1>
      <h4>&mdash; Паисий Хилендарски</h4>
    </div>
  </div>
  <button routerLink="/map">
    Открий своя род <fa-icon [icon]="icons.map"></fa-icon>
  </button>
</article>
