<section class="history-details">
  <article class="story">
    <section class="info">
      <h2>{{ story.name }}</h2>
      <a href="mailto:{{ story.user }}">{{ story.user }}</a>
    </section>
    <section class="location">
      <p>{{ story.address }}</p>
    </section>
    <section class="story">
      <p>
        {{ story.history }}
      </p>
    </section>
    <section class="image">
      <img src="{{ story.image }}" alt="" />
    </section>
  </article>
  <section class="buttons">
    <button id="edit">Редактирай</button>
    <button id="delete">Изтрий</button>
  </section>
</section>
