<google-map height="85vh" width="100%" [center]="center" [zoom]="7">
  <map-marker
    *ngFor="let story of storiesArray"
    [position]="story.address"
    (mapClick)="openInfoWindow(marker, story)"
    #marker="mapMarker"
  >
    <map-info-window>
      <h2>{{ storyData.name }}</h2>
      <p>{{ storyData.history }}</p>
      <a routerLink="/history-details/{{ storyData.id }}">Научи повече</a>
      <img src="{{ storyData.image }}" alt="" />
    </map-info-window>
  </map-marker>
</google-map>
