<article class="add-history">
  <div *ngIf="submitted && createForm.invalid" class="error">
    <p *ngIf="createForm.get('name')!.errors?.['required']">
      Името е задължително!
    </p>
    <p *ngIf="createForm.get('name')!.errors?.['minlength']">
      Името на рода/личността трябва да бъде поне 3 букви!
    </p>
    <p *ngIf="createForm.get('address')!.errors?.['required']">
      Адресът е задължителен!
    </p>
    <p *ngIf="createForm.get('image')!.errors?.['required']">
      Изображението е задължително!
    </p>
    <p *ngIf="createForm.get('image')!.errors?.['pattern']">
      Изображението е невалидно!
    </p>
    <p *ngIf="createForm.get('history')!.errors?.['required']">
      Историята е необходима!
    </p>
    <p *ngIf="createForm.get('history')!.errors?.['minlength']">
      Историята трябва да бъде поне 10 букви!
    </p>
  </div>
  <section class="form">
    <h2>Добави история</h2>
    <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
      <div class="input">
        <label for="title">Име на род/личност</label>
        <input
          type="text"
          placeholder="Добави име на род/личност"
          formControlName="name"
        />
      </div>
      <div class="input">
        <label for="location">Местоположение</label>
        <input
          type="text"
          placeholder="Добави адрес"
          formControlName="address"
        />
      </div>
      <div class="input">
        <label for="history">История</label>
        <textarea
          name="history"
          cols="30"
          rows="10"
          placeholder="Разкажи историята"
          formControlName="history"
        ></textarea>
      </div>
      <div class="input">
        <label for="title">Изображение</label>
        <input
          type="text"
          id="avatar"
          placeholder="Добави снимка"
          formControlName="image"
        />
      </div>
      <button>Добави история</button>
    </form>
  </section>
</article>
