<article class="add-history">
  <section class="form">
    <h2>Добави история</h2>
    <form action="">
      <div class="input">
        <label for="title">Име на род/личност</label>
        <input type="text" />
      </div>
      <div class="input">
        <label for="location">Местоположение</label>
        <input type="text" />
      </div>
      <div class="input">
        <label for="history">История</label>
        <textarea name="history" cols="30" rows="10"></textarea>
      </div>
      <div class="input">
        <label for="title">Име на род/личност</label>
        <input type="file" id="avatar" accept="image/png, image/jpeg" />
      </div>
    </form>
  </section>
</article>
