.add-history {
  margin: 25px 0px;
}
.form {
  background-color: #cdedca;
  padding: 25px;
  max-width: 750px;
  margin: auto;
}
form {
  background-color: #fbf5f5;
  padding: 10px;
  max-width: 700px;
}
input,
textarea {
  border: none;
  background-color: #ece8e8;
  font-size: 17px;
  padding: 7px 1px;
}
.input {
  display: flex;
  flex-direction: column;
}
label {
  font-weight: 300;
  font-size: 20px;
  margin: 11px 0px;
}
h2 {
  margin: 0px 0px 10px 0px;
  font-size: 36px;
}
