<article class="edit-history">
  <section class="form">
    <h2>Добави история</h2>
    <form action="">
      <div class="input">
        <label for="title">Име на род/личност</label>
        <input type="text" placeholder="Добави име на род/личност" />
      </div>
      <div class="input">
        <label for="location">Местоположение</label>
        <input type="text" placeholder="Добави адрес" />
      </div>
      <div class="input">
        <label for="history">История</label>
        <textarea
          name="history"
          cols="30"
          rows="10"
          placeholder="Разкажи историята"
        ></textarea>
      </div>
      <div class="input">
        <label for="title">Изображение</label>
        <input
          type="file"
          id="avatar"
          accept="image/png, image/jpeg"
          placeholder="Добави снимка"
        />
      </div>
    </form>
  </section>
</article>
